<div id="coral_talk_6657944954049994"></div>
<script src="https://prodebate-comment-system.herokuapp.com/embed.js" async onload="
  Coral.Talk.render(document.getElementById('coral_talk_6657944954049994'), {
    talk: 'https://prodebate-comment-system.herokuapp.com/'
  });
"></script>